{% extends 'include/include.html' %} {% block content %}
<div class="page-titles">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-12 align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 d-flex align-items-center">
            <li class="breadcrumb-item">
              <a href="index.html" class="link"
                ><i class="ri-home-3-line fs-5"></i
              ></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Info Desa/Geografi</li>
          </ol>
        </nav>
        <h1 class="mb-0 fw-bold">Geografi</h1>
      </div>
      <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
        <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2"
        data-bs-toggle="modal"
        data-bs-target="#bs-example-modal-xlg">
          <i data-feather="edit" style="width: 18px; height: 18px; margin-right: 10px"></i>
          Tambah Tahun
        </a>
      </div>
      <div class="modal fade" id="bs-example-modal-xlg" tabindex="-1" aria-labelledby="bs-example-modal-lg"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
              <h4 class="modal-title" id="myLargeModalLabel">
                Tambah Tahun
              </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Input Tahun</h4>
              <form>
                <div class="form-group">
                  <input type="number" id="tahun_baru" class="form-control" />
                </div>
              </form>
              <div class="modal-footer">
                <button type="button" class="
                    btn btn-light-danger
                    text-danger
                    font-weight-medium
                  " data-bs-dismiss="modal">
                  Close
                </button>
                <button type="button" id="tambah_tahun"class="btn btn-success" data-bs-dismiss="modal">
                  Simpan
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- ============================================================= -->
    <!-- Start Page Content -->
    <!-- ============================================================= -->
    <!-- Row -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body border-bottom">
            <h4 class="card-title">Kondisi Geografi</h4>
            <div class="col-sm-3">
              <div class="mb-3">
                <input type="hidden" name="tahun">
                <select class="form-select" id="tahun" name="selected_tahun" >
                  {% for i in info_list :%}
                  {% if loop.first%}
                    <option value="{{i.tahun}}" clicked>{{i.tahun}}</option>
                  {% else %}
                    <option value="{{i.tahun}}">{{i.tahun}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
          </div>
          <form class="form-horizontal" >
      
            <div class="card-body">
              <h4 class="card-title">Berbatasan Wilayah</h4>
              <div class="mb-3 row">
                <input
                type="hidden"
                class="form-control"
                name="id"
                value=" {{info_list[0]['id']}}"
              />
                <label
                  for="com1"
                  class="rata-kiri-mobile col-sm-3  control-label col-form-label"
                  >Berbatasan Utara</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="utara"
                    value="{{info_list[0]['utara']}}"
                  ></input>
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="com1"
                  class="rata-kiri-mobile col-sm-3  control-label col-form-label"
                  >Berbatasan Selatan</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="selatan"
                    value="{{info_list[0]['selatan']}}"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="com1"
                  class="rata-kiri-mobile col-sm-3  control-label col-form-label"
                  >Berbatasan Timur</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="timur"
                    value="{{info_list[0]['timur']}}"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="com1"
                  class="rata-kiri-mobile col-sm-3  control-label col-form-label"
                  >Berbatasan barat</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="barat"
                    value="{{info_list[0]['barat']}}"
                  />
                </div>
              </div>
            </div>
            <div class="p-3 border-top">
             
            </div>
          </form>
          <form class="form-horizontal">
            <div class="card-body">
              <h4 class="card-title">Luas Desa</h4>
              <div class="mb-3 row">
                <label
                  for="fname"
                  class="rata-kiri-mobile col-sm-3  control-label col-form-label"
                  >Luas</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="luas"
                    value=" {{info_list[0]['luas']}} Ha"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="lname"
                  class="rata-kiri-mobile col-sm-3  control-label col-form-label"
                  >Sawah Teririgasi</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="sawahteri"
                    value="{{info_list[0]['sawahteri']}} Ha"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="text"
                  class="rata-kiri-mobile col-sm-3  control-label col-form-label"
                  >Sawah Tandah Hujan</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="sawahhu"
                    value="{{info_list[0]['sawahhu']}} Ha"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label
                  for="cono1"
                  class="rata-kiri-mobile col-sm-3  control-label col-form-label"
                  >Pemukiman</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="pemukiman"
                    value="{{info_list[0]['pemukiman']}} Ha"
                  />
                </div>
              </div>
              <div class="p-3 border-top">
                <div class="text-end">
                  <button type="button" id="edit-wilayah" name="submit_wilayah" class=" btn btn-info rounded-pill px-4 waves-effect waves-light " > Save </button>
                  <button type="button" class=" btn btn-danger rounded-pill px-4 waves-effect waves-light " onclick="hapusGeo()" > Hapus Data </button>
                </div>
              </div>
            </div>
          </from>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block js%}
    <script>
      $(document).ready(function(){
      var cb = $('#tahun').prop('selected');
      console.log(cb)
      var fields = ['id','utara','selatan','timur','barat','luas','sawahteri','sawahhu','pemukiman'];
      function change(){
        var info_list = JSON.parse('{{info_list|tojson}}');
        console.log(info_list);
        let found = 0
        for (const info of info_list) {
          var value = $('#tahun').val()
          if (info.tahun == value) {
            fields.forEach(field => {
              $(`[name=${field}]`).val(info[field]);
            });
            found = 1
          }
          $(`[name='submit_wilayah']`).html("Save Edit");
          $(`[name='submit_wilayah']`).val("edit");
        }
        if (found == 0){
          fields.forEach(field => {
            $(`[name=${field}]`).val("");
          });
          $(`[name='submit_wilayah']`).html("Save Tambah");
          $(`[name='submit_wilayah']`).val("tambah");
        }
      }
      change()
      $('#tahun').on('change', function () {
        change();
      });
        function sort_tahun() {
          var selectElement = document.getElementById('tahun');
          var optionsArray = Array.from(selectElement.options);
          optionsArray.sort(function (a, b) {
            return a.value - b.value;
          });
          selectElement.innerHTML = '';
          optionsArray.forEach(function (option) {
            selectElement.appendChild(option);
          });
          change();
        }
        $('#tambah_tahun').on('click', function (){
          var selectElement = document.getElementById('tahun');
          var Option = document.createElement('option');
          var tahun_baru = $('#tahun_baru').val()
          Option.value = tahun_baru;
          Option.text = tahun_baru;
          selectElement.add(Option);
          sort_tahun()
      });
      sort_tahun();
      $('#edit-wilayah').on('click', function (){
        let formData = new FormData();
        fields.forEach(function (field) {
          var value = $(`[name=${field}]`).val();
          formData.append(field, value);
        });
        var value = $('#tahun').val()
        formData.append('selected_tahun', value);
        var submit = $(`[name='submit_wilayah']`).val();
        if (submit == "edit"){
          var value = $('[name=id]').val()
          formData.append('id', value);
        $.ajax({
          url: "/admin/edit_wilayah",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          method: 'PUT',
          type: 'PUT',           
          headers: {
            'Authorization': 'Bearer ' +  "{{ session['jwt_token'] }}"
        },
        }).done(function(response) {
          handleResponse(response,"edit","/admin/geografi");
        }).fail(function(error) {
          console.error(error);
        });
      }
      else if(submit=="tambah"){
        $.ajax({
          url: "/admin/tambah_wilayah",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          method: 'POST',
          type: 'POST', 
          headers: {
            'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
        },
        }).done(function(response) {
          handleResponse(response,"tambah","/admin/geografi");
        }).fail(function(error) {
          console.error(error);
        });
      }
      else{
        alert("error");
      }
      });
     
    });
    </script>
   <script>
    function hapusGeo() {
      // Menampilkan dialog konfirmasi
      var result = confirm("Apakah Anda yakin?");
 
 // Memeriksa hasil konfirmasi
 if (result) {
  var value = $('[name=id]').val()
     $.ajax({
       url: '/admin/hapus_wilayah',
       method: 'DELETE',
       headers: {
         'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
     },
       data: { id: value },
       dataType: 'json',
     }).done(function(response) {
       handleResponse(response, "menghapus", "/admin/geografi");
     }).fail(function(error) {
       console.error(error);
       // Handle the error case
     });
   }
 }
   </script>
    {% endblock %}