{% extends 'include/include.html' %} {% block content %}

<div class="page-titles">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link"
              ><i class="ri-home-3-line fs-5"></i
            ></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">BADAN PERMUSYAWARATAN DESA</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">BPD</h1>
    </div>

    <div
      class="col-lg-6 col-md-6 d-md-flex align-items-center justify-content-end"
    >
    <a
    class="btn btn-info d-flex align-items-center ms-2"
    data-bs-toggle="modal"
    data-bs-target="#bs-jabatan-modal-xlg"
  >
    <i class="ri-add-line me-1"></i>
    Ubah Urutan Jabatan
  </a>
      <a
        class="btn btn-info d-flex align-items-center ms-2"
        data-bs-toggle="modal"
        data-bs-target="#bs-example-modal-xlg"
      >
        <i class="ri-add-line me-1"></i>
        Tambah Angggota BPD
      </a>
    </div>
    <!-- Modal tambah-->
    <div
      class="modal fade"
      id="bs-example-modal-xlg"
      tabindex="-1"
      aria-labelledby="bs-example-modal-lg"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h4 class="modal-title" id="myLargeModalLabel">
              Tambah Aggota BPD
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h4>Nama </h4>
            <form>
              <div class="form-group">
                <input type="text" id="Namalengkapbaru" class="form-control" />
              </div>
            </form>
            <h4>Input Gambar</h4>
            <form>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input class="form-control" type="file" id="formFilebaru" />
                </div>
              </div>
            </form>
            <h4>Jabatan</h4>
            <form>
              <div class="form-group">
                <input type="text" id="jabatanbaru" class="form-control" />
              </div>
            </form>
            <h4>Status</h4>
            <form>
              <div class="form-group">
                <input type="text" id="statusbaru" class="form-control" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
                <button id="tambah" href="javascript:void(0)" class="btn btn-info d-fFlex align-items-center ms-2" > Submit </button>
                <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal" > Close </button>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- Modal tambah -->
    </div>

       <!-- Modal ubah urutan jabatan -->
       <div class="modal fade" id="bs-jabatan-modal-xlg" tabindex="-1" aria-labelledby="bs-jabatan-modal-lg" aria-hidden="true">
       <div class="modal-dialog modal-xl">
         <div class="modal-content">
           <div class="modal-header d-flex align-items-center">
             <h4 class="modal-title" id="myLargeModalLabel">
                Ubah Urutan Jabatan
             </h4>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
           </div>
           <div class="modal-body">
            <div class="col-lg-12 col-md-12">
                    <div class="myadmin-dd dd text-black col-12" id="nestable">
                      <ol class="dd-list col-12">
                        {% for i in urutan_jabatan :%}
                        <li class="dd-item col-12" data-id="{{i}}">
                          <div class="dd-handle col-12">{{i}}</div>
                        </li>
                        {% endfor %}
                        
                          </ol>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
           <div class="modal-footer">
                <button id="ubah_jabatan" href="javascript:void(0)" class="btn btn-info d-fFlex align-items-center ms-2" > Submit </button>
                <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal" > Close </button>
           </div>
           <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
       </div>
       <!-- Modal ubah urutan jabatan -->
     </div>
  </div>
  <br>
  <div class="container-fluid" >
    <div class="row">
      <div class="col-12">
        <!-- Row -->
        <div class="row">
          <!-- Column -->
          {% for i in list_info :%}
          <div class="col-lg-4">
            <div class="card">
              <img class="card-img-top img-responsive" src="../../static/image/{{i.gambar}}" alt="Card image cap" />
              <div class="card-body">
                <div class="d-flex no-block align-items-center mb-3"> <span class="d-flex align-items-center" ><i data-feather="calendar" class="feather-sm me-1"></i >{{i.status}}</span > </div>
                <h3 class="font-weight-medium">{{i.nama}}</h3>
                <p class="mb-0 mt-2 text-muted">{{i.jabatan}}</p>
                <div class="text-end">
                    <button class="btn btn-primary btn-rounded waves-effect waves-light mt-3" data-bs-toggle="modal" data-bs-target="#bs-example-modal-lg-{{i.id}}" > Edit </button>
                    <button class="btn btn-danger btn-rounded waves-effect waves-light mt-3" onclick="hapusBPD('{{i.id}}')"> Hapus </button>
                </div>
            </button>
            <!-- Modal Edit-->
            <div class="modal fade" id="bs-example-modal-lg-{{i.id}}" tabindex="-1" aria-labelledby="bs-example-modal-lg" aria-hidden="true" >
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                  <h4 class="modal-title" id="myLargeModalLabel1">
                    Edit Anggota bpd
                  </h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <h4>Nama lengkap</h4>
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="editnamalengkapbaru-{{i.id}}" value="{{i.nama}}" />
                    </div>
                  </form>
                  <h4>Input Gambar Baru</h4>
                  <form>
                    <div class="input-group mb-3">
                      <div class="custom-file">
                        <input class="form-control" type="file" hint="{{i.gambar}}" id="editfoto-{{i.id}}" />
                      </div>
                    </div>
                  </form>
                    <label class="form-check-label" for="inlineCheckbox1">Reset Gambar?</label>
                    <input class="form-check-input" type="checkbox" id="reset-{{i.id}}">
                  <h4>Jabatan</h4>
            <form>
              <div class="form-group">
                <input type="text" id="editjabatanbaru-{{i.id}}" class="form-control" value="{{i.jabatan}}" />
              </div>
            </form>
           
            <h4>Status</h4>
            <form>
              <div class="form-group">
                <input type="text" id="editstatusbaru-{{i.id}}" class="form-control" value="{{i.status}}"/>
              </div>
            </form>
                </div>
                <div class="modal-footer">
                  
                  <button
                  type="submit"
                      onclick="edit('{{i.id}}')"
                      class="btn btn-info d-flex align-items-center ms-2"
                    >
                      Submit
                </button>
                    <button
                      type="button"
                      class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- Modal tambah -->
        
                <!---->
              </div>
            </div>
          </div>
          <!-- Column -->

          {% endfor %}
        </div>
        <!-- Row -->
      </div>
    </div>
  </div>

  <!-- All Jquery -->
  <!-- ============================================================= -->
  
  {% endblock %}
  {% block js %}
  <script src="https://rizky-phb.github.io/deploy_template/custom/assets/libs/nestable/jquery.nestable.js"></script>
  <script>
    $(function () {
      // Nestable
      var updateOutput = function (e) {
        var list = e.length ? e : $(e.target),
          output = list.data("output");
        if (window.JSON) {
          output.val(window.JSON.stringify(list.nestable("serialize"))); //, null, 2));
        } else {
          output.val("JSON browser support required for this demo.");
        }
      };

      $("#nestable")
        .nestable({
          group: 1,
        })
        .on("change", updateOutput);

      $("#nestable2")
        .nestable({
          group: 1,
        })
        .on("change", updateOutput);

      updateOutput($("#nestable").data("output", $("#nestable-output")));
      updateOutput($("#nestable2").data("output", $("#nestable2-output")));

      $("#nestable-menu").on("click", function (e) {
        var target = $(e.target),
          action = target.data("action");
        if (action === "expand-all") {
          $(".dd").nestable("expandAll");
        }
        if (action === "collapse-all") {
          $(".dd").nestable("collapseAll");
        }
      });

      $("#nestable-menu").nestable();
    });
  </script>
  <script>
    let formData = new FormData();
    $(document).ready(function () {
        $("#tambah").on("click", function () {
            var nama = $('#Namalengkapbaru').val()
            var formFilebaru = $('#formFilebaru')
            var jabatan = $('#jabatanbaru').val()
            var status = $('#statusbaru').val()
            formData.append('nama', nama)
            jQuery.each(jQuery('#formFilebaru')[0].files, function (i, file) {
                formData.append('gambar', file);
            });

            formData.append('jabatan', jabatan)
            formData.append('status', status)

            console.log(formData)
            $.ajax({
                url: "/admin/tambah-bpd",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
                },
            }).done(function (data) {
                handleResponse(data, "menambah", "/admin/bpd");
            });
            event.preventDefault();
        });
        $("#ubah_jabatan").on("click", function () {
            var databaru = $('.dd-item').map(function() {
                return $(this).data('id');
            }).get();
            console.log(databaru)
            formData.append('data_baru', databaru)
            console.log(formData)
            $.ajax({
                url: "/admin/bpd/ubah_jabatan",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
                },
            }).done(function (data) {
                handleResponse(data, "mengubah urutan jabatan", "/admin/bpd");
            });
            event.preventDefault();
        });
    });

    function edit(id) {
        var editnama = $('#editnamalengkapbaru-' + id).val()
        var editjabatan = $('#editjabatanbaru-' + id).val()
        var editstatus = $('#editstatusbaru-' + id).val()
        var reset = $('#reset-' + id).prop('checked');
        console.log(reset)
        formData.append('id', id);
        formData.append('nama', editnama)
        $.each($('#editfoto-' + id)[0].files, function (i, file) {
            formData.append('gambar', file);
        });
        formData.append('jabatan', editjabatan)
        formData.append('status', editstatus)
        formData.append('reset', reset)
        $.ajax({
            url: "/admin/edit-bpd",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            method: 'PUT',
            headers: {
                'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
            },
        }).done(function (data) {
            handleResponse(data, "mengedit", "/admin/bpd");
        });
    }

    function hapusBPD(id) {
        // Menampilkan dialog konfirmasi
        var result = confirm("Apakah Anda yakin?");

        // Memeriksa hasil konfirmasi
        if (result) {
            $.ajax({
                url: '/admin/delete-bpd',
                method: 'DELETE',
                headers: {
                    'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
                },
                data: {
                    id: id
                },
                dataType: 'json',
            }).done(function (response) {
                handleResponse(response, "menghapus", "/admin/bpd");
            }).fail(function (error) {
                console.error(error);
                // Handle the error case
            });
        }
    }
  
</script>
{% endblock %}