{% extends 'include/include.html' %} {% block content %}
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link"
              ><i class="ri-home-3-line fs-5"></i
            ></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Dana Desa
          </li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Dana Desa</h1>
    </div>
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end" >
      <a href="javascript:void(0)" class="btn btn-danger d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-x2" > hapus tahun </a>
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-xl" > <i class="ri-add-line me-1"></i> tambah data </a>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================= -->
<!-- Container fluid  -->
<!-- ============================================================= -->
<div class="container-fluid">
  <!-- ============================================================= -->
  <!-- Start Page Content -->
  <!-- ============================================================= -->
  <!-- File export -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4>Dana Desa Tahun:</h4>
          <div class="col-sm-3">
            <div class="mb-3">
              <select class="form-select" id="tahun" name="educationDate" >
                <option value="tahun" selected>Semua Tahun</option>
                {% for i in tahun :%}
                <option value="{{i.tahun}}">{{i.tahun}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class = "table-responsive">
            {% for h in tahun :%}
            <div id="table_{{h.tahun}}">
            <h4>Dana Desa Tahun {{h.tahun}} </h4>
          {% if info_list %}
          <h6>realisasi pendapatan </h6>
          <table  class="table table-striped table-bordered display text-nowrap">
              <thead>
              <tr>
                <th >No</th>
                <th >Uraian</th>
                <th >Anggaran</th>
                <th >Realisasi</th>
                <th >Lebih/(Kurang)</th>
                <th >Tahun</th>
              </tr>
          </thead>
          {% for i in info_list %}
          {% if h.tahun == i.tahun %}
              <tr id="{{ i.tahun }}">
                  <td>{{ i.no }}</td>
                  <td>{{ i.uraian }}</td>
                  <td>{{ i.anggaran }}</td>
                  <td>{{ i.realisasi }}</td>
                  <td>{{ i['lebih/(kurang)'] }}</td>
                  <td>{{ i.tahun }}</td>
              </tr>
          {% endif %}
      {% endfor %}
            </table>
            {% else %}
            <p>No data available.</p>
            {% endif %}
            {% if info_list2 %}
            <h6>realisasi belanja </h6>
            <table class="table table-striped table-bordered display text-nowrap">
                <thead>
                <tr>
                  <th >No</th>
                  <th >Uraian</th>
                  <th >Anggaran</th>
                  <th >Realisasi</th>
                  <th >Lebih/(Kurang)</th>
                  <th >Tahun</th>
                </tr>
            </thead>
            {% for i in info_list2 %}
            {% if h.tahun == i.tahun %}
                <tr id="{{ i.tahun }}">
                    <td>{{ i.no }}</td>
                    <td>{{ i.uraian }}</td>
                    <td>{{ i.anggaran }}</td>
                    <td>{{ i.realisasi }}</td>
                    <td>{{ i['lebih/(kurang)'] }}</td>
                    <td>{{ i.tahun }}</td>
                </tr>
            {% endif %}
        {% endfor %}
              </table>
              {% else %}
              <p>No data available.</p>
              {% endif %}
              {% if info_list3 %}
          <h6>realisasi pembiayaan </h6>
              <table  class="table table-striped table-bordered display text-nowrap">
                  <thead>
                  <tr>
                    <th >No</th>
                    <th >Uraian</th>
                    <th >Anggaran</th>
                    <th >Realisasi</th>
                    <th >Lebih/(Kurang)</th>
                    <th >Tahun</th>
                  </tr>
              </thead>
                  {% for i in info_list3 %}
                    {% if h.tahun == i.tahun %}
                        <tr id="{{ i.tahun }}">
                          <td>{{ i.no }}</td>
                          <td>{{ i.uraian }}</td>
                          <td>{{ i.anggaran }}</td>
                          <td>{{ i.realisasi }}</td>
                          <td>{{ i['lebih/(kurang)'] }}</td>
                          <td>{{ i.tahun }}</td>
                        </tr>
                    {% endif %}
                  {% endfor %}
                </table>
                {% else %}
                <p>No data available.</p>
                {% endif %}
          </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
      class="modal fade"
      id="bs-example-modal-x2"
      tabindex="-1"
      aria-labelledby="bs-example-modal-lg"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h4 class="modal-title" id="myLargeModalLabel">
              Hapus Dana Desa berdasarkan tahun
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <span class="mb-2">
            keterangan: pilih data tahun berapa yang mau dihapus </span>
            <select class="form-select" id="tahun_hps" name="educationDate" >
              <option value="semua_tahun" selected>Semua Tahun</option>
              {% for i in tahun :%}
              <option value="{{i.tahun}}">{{i.tahun}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end"
            >
              <a
                id="delete"
                href="javascript:void(0)"
                class="btn btn-info d-flex align-items-center ms-2"
              >
                Submit
              </a>
            </div>
              <button
                type="button"
                class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- Modal Delete -->
    </div>
<div
      class="modal fade"
      id="bs-example-modal-xl"
      tabindex="-1"
      aria-labelledby="bs-example-modal-lg"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h4 class="modal-title" id="myLargeModalLabel">
              Tambah Dana Desa
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
           
            <span class="mb-2">
            keterangan: download dan edit 3 file excell .xlsx <a href='https://drive.google.com/drive/folders/1PxN3Lb0oBcfA61zQUto5pxG2IAyuhwSO?usp=sharing'>disini</a> dan upload ke form dibawah 
            </span>
            <h4>Input excell realisasi pendapatan</h4>
            <form>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input class="form-control" type="file" id="formpendapatan" />
                </div>      
                {% if error_pendapatan %} <div style="color: red;"> {{ error_pendapatan }} </div> {% endif %}
              </div>
            </form>
            <h4>Input excell realisasi belanja </h4>
            <form>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input class="form-control" type="file" id="formbelanja" />
                </div>
                {% if error_belanja %} <div style="color: red;"> {{ error_belanja }} </div> {% endif %}
              </div>
            </form>
            <h4>Input excell realisasi pembiayaan </h4>
            <form>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input class="form-control" type="file" id="formpembiayaan" />
                </div>
                {% if error_pembiayaan %} <div style="color: red;"> {{ error_pembiayaan }} </div> {% endif %}
              </div>
            </form>
           
          </div>
          <div class="modal-footer">
            <div
              class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end"
            >
              <a
                id="tambah"
                href="javascript:void(0)"
                class="btn btn-info d-flex align-items-center ms-2"
              >
                Submit
              </a>
            </div>
              <button
                type="button"
                class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- Modal tambah -->
    </div>
    <script>
          var token = "{{ session['jwt_token'] }}"
      $( "#tahun").val("tahun");
      $( "#tahun" ).change( "click", function() {
        var data_thn =  JSON.parse('{{ tahun | tojson | safe }}');
        var thn = $('#tahun').val();
        for (var key in data_thn ) {
                console.log(key);
                console.log(data_thn[key].tahun);
                console.log(thn);
                var table_thn = data_thn[key].tahun;
                if (table_thn == thn){
                  $('#table_'+table_thn).show();
                }
                else if (thn == "tahun"){
                  $('#table_'+table_thn).show();
                }
                else{
                  $('#table_'+table_thn).hide();
                }
        }
      });
    
      $( "#tambah" ).on( "click", function() {
        var excellpendapatan = $('#formpendapatan')[0].files[0];
        var excellbelanja  = $('#formbelanja')[0].files[0];
        var excellpembiayaan = $('#formpembiayaan')[0].files[0];
        let formData = new FormData();
        formData.append('excellpendapatan', excellpendapatan);
        formData.append('excellbelanja', excellbelanja);
        formData.append('excellpembiayaan', excellpembiayaan);
        $("#tambah").html("Loading ...");
        $.ajax({
          url: "/admin/tambah_dana",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          method: 'POST',
          headers: {
            'Authorization': 'Bearer ' + token
        },
          success: function(data) {
            handleResponse(data,"tambah","/admin/dana");
          }
        });
        event.preventDefault();
      });
      $( "#delete" ).on( "click", function() {
        var tahun = $("#tahun_hps").val()
        $("#delete").html("Loading ...");
        $.ajax({
          url: "/admin/hapus_dana",
          method: 'DELETE',
          headers: {'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"},
          data: {
              tahun: tahun
          },
          dataType: 'json',
          success: function(data) {
            handleResponse(data,"hapus","/admin/dana");
          }
        });
        event.preventDefault();
      });
    </script>
{% endblock %}
